[submodule "accel-week1-challenge"]
	path = accel-week1-challenge
	url = https://github.com/xydv/accel-week1-challenge
[submodule "accel-week2-challenge"]
	path = accel-week2-challenge
	url = https://github.com/xydv/accel-week2-challenge
[submodule "accel-challenge-week3-breakout4"]
	path = accel-challenge-week3-breakout4
	url = https://github.com/solana-turbin3/accel-challenge-week3-breakout4
